
@font-face {
  font-family: "TT Lakes Regular";
  src: url("./FONT/TTLakes-Regular.eot");
  src:
    url("./FONT/TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
    url("./FONT/TTLakes-Regular.woff") format("woff"),
    url("./FONT/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #faf8f8;
}

.swiper-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.swiper-wrapper {
  display: flex;
  margin-top: 20px;
  height: 130px !important; 
}

span {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  color: #7e7e82;
  margin-left: 20px;
  margin-top: 30px;
  font-family: "TT Lakes regular", sans-serif;
}

.swiper-slide {
  display: flex !important; 
  justify-content: space-between;
  align-items: center;
  min-width: 240px; 
  max-width: 240px; 
  min-height: 72px; 
  max-height: 72px; 
  border: 1px solid lightgray;
  margin: 10px;
  padding: 16px; 
  border-radius: 6px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  object-fit: contain;
}

.brand-icon {
  max-height: 32px;
  max-width: 128px;
}

.swiper-pagination {
    margin-top: 16px;
}

.show-all {
    display: none;
    align-items: center;
    cursor: pointer;
    margin-top: 30px;
}

.text{
    margin: 5px;
}
.icon{
    transition: transform 0.3s ease;
    margin-left: 20px;
}

.show-all.active .icon {
    transform: rotate(180deg);
}


@media (min-width: 768px) {
  .swiper {
    height: 300px !important;
  }
 
  .swiper-wrapper {
    max-width: 768px;
    display: flex !important;
    flex-wrap: wrap;
  }
  .main-box {
    display: flex;
    flex-wrap: wrap;
    overflow-x: none;
    margin-top: 20px;
  }
 
  .swiper-slide {
    min-width: 224px;
    max-width: 224px;
  }
.show-all {
    display: flex;
  }
  .tablet {
    display: block !important;
  }
  .tablet-none {
    display: none !important;
  }
  .swiper-pagination {
    display: none !important;
  }
}

@media (min-width: 1120px) {
  .swiper {
    height: 300px !important;
  }
  .swiper-wrapper {
    max-width: 1120px;
    display: flex !important;
    flex-wrap: wrap;
  }
  .swiper-slide {
    min-width: 240px;
    max-width: 240px;
  }
  .show-all {
    display: flex;
  }
  .pc {
    display: block !important;
  }
  .pc-none {
    display: none !important;
  }
  .swiper-pagination {
    display: none !important;
  }
}