
@font-face {
  font-family: "TT Lakes Regular";
  src: url("./FONT/TTLakes-Regular.eot");
  src:
    url("./FONT/TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
    url("./FONT/TTLakes-Regular.woff") format("woff"),
    url("./FONT/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #faf8f8;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}
.main-box{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-top: 20px;
}


span{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    color: #7E7E82;
    margin-left: 20px;
    margin-top: 30px;
    font-family: 'TT Lakes regular', sans-serif;
}


.logo1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 72px;
    border: 1px solid lightgray;
    margin: 20px;
    border-radius: 6px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}

.lenovo{
    display: flex;
    width: 135px;
    height: 40px;
    margin-right: 30px;
    background-color: white;
}
.go{
    background-color: white;
    width: 40px;
    height: 40px;
}

.logo2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 72px;
    border: 1px solid lightgray;
    margin: 20px;
    border-radius: 6px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}

.samsung{
    display: flex;
    width: 135px;
    height: 40px;
    margin-right: 30px;
    background-color: white;
}

.logo3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 72px;
    border: 1px solid lightgray;
    margin: 20px;
    border-radius: 6px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}

.apple{
    display: flex;
    width: 44px;
    height: 44px;
    margin-right: 120px;
    background-color: white;
}

.logo4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 72px;
    border: 1px solid lightgray;
    margin: 20px;
    border-radius: 6px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}

.ViewSonic{
    display: flex;
    width: 128px;
    height: 21px;
    margin-right: 33px;
    background-color: white;
}

.logo5{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 72px;
    border: 1px solid lightgray;
    margin: 20px;
    border-radius: 6px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}

.bosch{
    display: flex;
    width: 128px;
    height: 28.6px;
    margin-right: 33px;
    background-color: white;
}

.logo6{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 72px;
    border: 1px solid lightgray;
    margin: 20px;
    border-radius: 6px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}

.hp{
    display: flex;
    width: 52px;
    height: 52px;
    margin-right: 109px;
    background-color: white;
}

.logo7{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 72px;
    border: 1px solid lightgray;
    margin: 20px;
    border-radius: 6px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}

.acer{
    display: flex;
    width: 94px;
    height: 24px;
    margin-right: 71px;
    background-color: white;
}

.logo8{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 72px;
    border: 1px solid lightgray;
    margin: 20px;
    border-radius: 6px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}

.sony{
    display: flex;
    width: 128px;
    height:25.6px;
    margin-right: 39px;
    background-color: white;
}

.logo9{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 72px;
    border: 1px solid lightgray;
    margin: 20px;
    border-radius: 6px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}

.logo10{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 72px;
    border: 1px solid lightgray;
    margin: 20px;
    border-radius: 6px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}

.logo11{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 72px;
    border: 1px solid lightgray;
    margin: 20px;
    border-radius: 6px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}

@media (min-width:768px) {
  .main-box{
    display: flex;
    flex-wrap: wrap;
    overflow-x: none;
    margin-top: 20px;
  }
.logo7, .logo8, .logo9, .logo10, .logo11{
    display: none;
}
}