
@font-face {
  font-family: "TT Lakes Regular";
  src: url("./FONT/TTLakes-Regular.eot");
  src:
    url("./FONT/TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
    url("./FONT/TTLakes-Regular.woff") format("woff"),
    url("./FONT/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.swiper{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #faf8f8;
}
.swiper-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100px;
    
}
.swiper-slide{
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-top: 20px;
    padding: 16px;
 
}

span{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    color: #7E7E82;
    margin-left: 20px;
    margin-top: 30px;
    font-family: 'TT Lakes Regular', sans-serif;
}

.brand-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    height: 50px;
    border: 1px solid lightgray;
    margin: 10px;
    padding: 0 16px;
    border-radius: 6px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}

.brand-icon{
display: flex;
  max-height: 32px;
   margin: 10px;
    background-color: white;
}

.brand-icon2{
    display: flex;
  max-height: 32px;
   margin: 10px;
    background-color: white;
    width: 140px;
}
.arrow{
    background-color: white;
    width: 30px;
    height: 30px;
    margin-left: 20px;
}

.swiper{
    overflow: hidden;
}

.swiper-pagination {
    margin-top: 16px;
}

.show-all {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 30px;
}

.text{
    margin: 5px;
}
.icon{
    transition: transform 0.3s ease;
    margin-left: 20px;
}

.show-all.active .icon {
    transform: rotate(180deg);
}


@media (max-width: 767px){
.show-all {
    display: none;
}
}

@media (min-width:768px) and (max-width:1023px) {
    .brand-card{
        width: 224px;
    }
    .swiper-wrapper{
    display: flex !important;
    flex-wrap: wrap;
    gap: 20px;
    transform: none !important;
    flex-direction: row;
    justify-content: flex-start;
}

.swiper-slide {
    display: flex !important;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.swiper-pagination {
    display: none;
}
.swiper-slide:nth-child(n+7) {
    display: none;
}

}

@media (min-width: 1024px) {
   .swiper-slide:nth-child(n+9) {
    display: none;
   }

.brand-card{
width: 240px;
}

    .swiper-wrapper{
    display: flex !important;
    flex-wrap: wrap;
    gap: 20px;
    transform: none !important;
    flex-direction: row;
    justify-content: flex-start;
}

.swiper-slide {
    display: flex !important;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

}